.footer {
  padding-bottom: 3rem;
}

.footer__container {
  display: grid;
  gap: 2rem;

  @media (width >= 48rem) {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

.footer__subscription {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__message-subscription {
  color: var(--title-color);
}

.footer__logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.footer__logo {
  width: 24px;
  height: 24px;
}

.footer__logo-text {
  text-transform: uppercase;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (width >= 64rem) {
    flex-direction: row;
  }
}

.footer__links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem 3.5rem;

  @media (width >= 30rem) {
    grid-template-columns: repeat(2, max-content);
  }

  @media (width >= 48rem) {
    grid-template-columns: repeat(3, max-content);
  }
}

.footer__title {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer__group {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;

  @media (width >=64rem) {
    margin-top: 7rem;
    flex-direction: row;
  }
}

.footer__copyright {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.footer__social-media {
  display: flex;
  gap: 0.8rem;
  order: -1;

  @media (width >=48rem) {
    order: unset;
  }
}

.footer__social-link {
  color: black;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: var(--first-color);
  padding: 0.4rem;
  transition: background 0.3s;

  &:hover {
    background: var(--first-color-dark);
  }
}
